.app {
  /* display: flex; */
  width: 30%;
  margin: 5rem auto;
  border: 1px solid #a4a4a4;
  /* -webkit-box-shadow: 0px 0px 6px 1px #000000;
  -moz-box-shadow: 0px 0px 6px 1px #000000;
  box-shadow: 0px 0px 6px 1px #000000; */
}
